In [1]:
import sys
sys.path.append('./')
from utilities.data_manager import ExchangeDataManager

exchange_name = "Binance"

intervals = ["1M"]

# coin_to_dl = ["BTC/USDT", "ETH/USDT", "BNB/USDT", "XRP/USDT", "SOL/USDT"]
coin_to_dl = ["BTC/USDT"]
# coin_to_dl = ['BTC/USDT', 'ETH/USDT', 'BNB/USDT', 'XRP/USDT', 'DOGE/USDT', 'ADA/USDT', 'MATIC/USDT', 'DOT/USDT', 'SHIB/USDT', 'LTC/USDT', 'TRX/USDT', 'SOL/USDT', 'AVAX/USDT', 'LINK/USDT', 'ATOM/USDT', 'ETC/USDT', 'BCH/USDT', 'FIL/USDT', 'APE/USDT', 'VET/USDT', 'EGLD/USDT', 'EOS/USDT', 'SAND/USDT', 'CHZ/USDT', 'AAVE/USDT', 'AXS/USDT', 'MANA/USDT', 'CAKE/USDT', 'FTM/USDT', 'MKR/USDT', 'GRT/USDT']

exchange = ExchangeDataManager(
    exchange_name=exchange_name, 
    path_download="./database/exchanges"
)

await exchange.download_data(
    coins=coin_to_dl, 
    intervals=intervals
)

	Recovery for the pair BTC/USDT in timeframe 1M on the exchange Binance...

  0%|          | 0/1 [00:00<?, ?it/s]

In [2]:
exchange_name = "binance"

exchange = ExchangeDataManager(
    exchange_name=exchange_name, 
    path_download="./database/exchanges"
)

exchange.load_data(
    coin="BTC/USDT", 
    interval="1M"
)

/Users/rg37147/repos/backtest_tools/utilities/data_manager.py:114: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv(file_name, index_col=0, parse_dates=True)

                open      high       low     close        volume
date
2018-01-01  13715.65  17176.24   9035.00  10285.10  8.166756e+05
2018-02-01  10285.10  11786.01   6000.01  10326.76  1.243941e+06
2018-03-01  10325.64  11710.00   6600.10   6923.91  1.235326e+06
2018-04-01   6922.00   9759.82   6430.00   9246.01  1.110964e+06
2018-05-01   9246.01  10020.00   7032.95   7485.01  9.144764e+05
...              ...       ...       ...       ...           ...
2023-06-01  27210.36  31431.94  24800.00  30472.00  1.387207e+06
2023-07-01  30471.99  31804.20  28861.90  29232.25  9.257738e+05
2023-08-01  29232.26  30244.00  25166.00  25940.78  1.025867e+06
2023-09-01  25940.77  27483.57  24901.00  26962.56  8.093290e+05
2023-10-01  26962.57  35280.00  26538.66  34639.77  1.141404e+06

[70 rows x 5 columns]

In [3]:
exchange.explore_data()

Empty DataFrame
Columns: []
Index: []