In [1]:
import sys
sys.path.append('./')
from utilities.data_manager import ExchangeDataManager

exchange_name = "binance"

intervals = ["1h"]

# coin_to_dl = ["BTC/USDT", "ETH/USDT", "BNB/USDT", "XRP/USDT", "SOL/USDT"]
# coin_to_dl = ['BTC/USDT', 'ETH/USDT', 'BNB/USDT', 'XRP/USDT', 'DOGE/USDT', 'ADA/USDT', 'MATIC/USDT', 'DOT/USDT', 'SHIB/USDT', 'LTC/USDT', 'TRX/USDT', 'SOL/USDT', 'AVAX/USDT', 'LINK/USDT', 'ATOM/USDT', 'ETC/USDT', 'BCH/USDT', 'FIL/USDT', 'APE/USDT', 'VET/USDT', 'EGLD/USDT', 'EOS/USDT', 'SAND/USDT', 'CHZ/USDT', 'AAVE/USDT', 'AXS/USDT', 'MANA/USDT', 'CAKE/USDT', 'FTM/USDT', 'MKR/USDT', 'GRT/USDT']
coin_to_dl = ['BTC/USDT']

exchange = ExchangeDataManager(
    exchange_name=exchange_name, 
    path_download="./database/exchanges"
)

await exchange.download_data(
    coins=coin_to_dl, 
    intervals=intervals
)

	Récupération pour la paire BTC/USDT en timeframe 1h sur l'exchange binance...

  0%|          | 0/61 [00:00<?, ?it/s]

In [2]:
exchange_name = "binance"

exchange = ExchangeDataManager(
    exchange_name=exchange_name, 
    path_download="./database/exchanges"
)

exchange.load_data(
    coin="BTC/USDT", 
    interval="1h"
)

/Users/rg37147/repos/backtest_tools/utilities/data_manager.py:114: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv(file_name, index_col=0, parse_dates=True)

                         open      high       low     close       volume
date
2017-08-17 04:00:00   4261.48   4313.62   4261.32   4308.83    47.181009
2017-08-17 05:00:00   4308.83   4328.69   4291.37   4315.32    23.234916
2017-08-17 06:00:00   4330.29   4345.45   4309.37   4324.35     7.229691
2017-08-17 07:00:00   4316.62   4349.99   4287.41   4349.99     4.443249
2017-08-17 08:00:00   4333.32   4377.85   4333.32   4360.69     0.972807
...                       ...       ...       ...       ...          ...
2023-11-14 15:00:00  36594.80  36619.89  35889.00  36147.09  4676.559050
2023-11-14 16:00:00  36147.09  36417.23  36106.73  36268.90  1735.799020
2023-11-14 17:00:00  36268.89  36319.06  36070.00  36091.09  1438.085530
2023-11-14 18:00:00  36091.10  36125.74  34800.00  35230.00  8157.183770
2023-11-14 19:00:00  35230.00  35485.96  35084.00  35293.99  4325.126900

[54608 rows x 5 columns]

In [3]:
exchange.explore_data()

Empty DataFrame
Columns: []
Index: []